body{
  font-family: 'Roboto', sans-serif;
 
}
.container {
  max-width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 44px;
}
.input{
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left 11px center;
}
.input-address,
.input-search{
  width: 690px;
  background-image: url(../assets/Vector.png);
}
.input-search{
  width: 300px;
  background-image: url(../assets/zoom.png);
}
.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
}
.button-primary {
  background: #1890ff;
  border-radius: 2px;
  border: #1890ff;
  color: white;
  margin-right: 10px;
}
.button-icon {
  margin-right: 6px;
  vertical-align: middle;
}
.button-text {
  vertical-align: middle;
}
.buttons {
  display: flex;
  align-items: center;
}

.promo{
  margin-bottom: 56px;
}
.section-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}
.section-title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
flex-basis: 32%;
width: 384px;
height: 379.6px;
left: 120px;
top: 566.37px; 
 overflow: hidden; 
justify-content: space-between;
}
.card-image{
  width: 384px;
  height: 250px;
  object-fit: cover;

}
.card-text{
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 23px;
  padding-right: 23px;
}
.card-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title{
  margin: 0; 
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.card-tag{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
color: #ffffff;
background: #262626;
border-radius: 2px;
padding: 1px 8px;
}
.card-info{
  display: flex;
  align-items: center;
}
.rating{
margin-right: 26px;
color: #ffc107;
font-style: 18px;
line-height: 32px;
}
.price,
.category{
color: #8c8c8c;
font-size: 18px;
line-height: 32px;
}
.price{
  margin-right: 10px;
}
.price:after{
  content: content"";
  width: 5px;
  height: 5px;
  background-color: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  background-repeat: 50%;
  margin-left: 10px;
}
.rating-star{
  
}