body{
  font-family: 'Roboto', sans-serif;
 
}
.container {
  max-width: 1200px;
  margin: auto;
}
.main{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  max-width: 1200px;

}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 44px;
  padding-top: 44px;

}
.input{
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left 11px center;
}
.input-address{
  flex:0.8;
}
.input-address,
.input-search{
  background-image: url(../assets/Vector.png);
}
.input-search{
  width: 300px;
  background-image: url(../assets/zoom.png);
  margin-left: auto;
}
.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  font-size: 16px;
  /* line-height: 24px; */
}
.button-primary {
  cursor: pointer;
  background: #1890ff;
  border-radius: 2px;
  border: #1890ff;
  color: white;
  margin-right: 10px;
}
.button-icon {
  margin-right: 6px;
  vertical-align: middle;
}
.button-text {
  vertical-align: middle;
}
.buttons {
  display: flex;
  align-items: center;
}
.button-card-text{
  margin-right: 10px;
  font-size: 16px;
}
.promo{
  margin-bottom: 56px;
}
.section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}
.section-title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
margin-right: 30px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
flex-basis: 32%;
height: 379.6px;
left: 120px;
top: 566.37px; 
 overflow: hidden; 
justify-content: space-between;
text-decoration: none;
}
.card-image{
  width: 384px;
  height: 250px;
  object-fit: cover;
}
.card-text{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
.card-heading{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title{
  margin: 0; 
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.card-title-reg{
  font-weight: 400;

}
.card-tag{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height:20px;
color: #ffffff;
background: #262626;
border-radius: 2px;
padding: 1px 8px;
}
.card-info{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  height: 60px;
}
.rating{
/* margin-right: 26px; */
color: #ffc107;
font-style: 18px;
line-height: 32px;
}
.price,
.category{
color: #8c8c8c;
font-size: 18px;
line-height: 32px;
}
.category{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 150px;
}
.price{
  margin-right: 10px;
}
.price:after{
  content: content"";
  width: 5px;
  height: 5px;
  background-color: #8c8c8c;
  display: inline-block;
  vertical-align: middle;
  background-repeat: 50%;
  margin-left: 10px;
}
.footer{
  padding: 60px 0;
}
.footer-block{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.footer-nav{
  margin-right: auto;
  margin-left: 35px;
}
.footer-link{
  display: inline-block;
  color: #595959;
  text-decoration: none;
}
.footer-link:not(:last-child){
  margin-right: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.section-links{
  display: flex;
  align-items: center;
  
}
.section-link:not(:last-child){
margin-right: 21px;
}
.rating-star{
  margin-right: 26px;
  margin-left: 5px;
}
.ingredients{
color: #8c8c8c;
font-size: 18px;
line-height: 21px;
}
.card-price-bald{
  font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 32px;
}
.card-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}